/*header related style*/
.banner {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    pad: 30px 30px 30px 150px;
    width: 1920px;
    height: 850px;
    margin: auto;
    justify-content: space-around;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
}

.btn-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: white;
}

.pngwing {
    width: 500px
}